.wrapper{
    border: 1px solid #dddddd;
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    width: 100%;
}

.main-container{
    background: white;
}

imgs{
    padding: 5px
}

h5{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-light .navbar-brand {
    color: white;
    background-color: #4aaaa5;
    width: 140px;
    text-align: center;
}

.card-title{
    margin-top: 4px;
    text-align: center;
}

a,
p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    text-align: center;
    background-color:#666666;
    color: white;
    padding: 30px;
    border-top: 5px solid #4aaaa5;
    font-size: 10px;
}
/* portfolio stylings */
.carousel-caption h1{
    background-color: #4aaaa5;
    font-size: 1.5rem;
}

.carousel-caption{
    right: 27%;
    left: 0%;
    bottom: 0px;
    padding-bottom: 0px;
}
.img-fluid{
    max-width: 70%;
}

/* contact stylings */

.form-control{
    width: 100%;
}

.form-wrapper{
    background-color: white;
    width: 960px;
}

.form-group{
    margin: 10px;
}
