.main{
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    height: 960px;
}

img{
    padding: 5px
}

h5{
    color: #4aaaa5;
}

.navbar-light .navbar-brand {
    color: white;
    background-color: #4aaaa5;
    width: 140px;
    text-align: center;
}

.card-title{
    margin-top: 4px;
    text-align: center;
}
footer{
    text-align: center;
    background-color:#666666;
    color: white;

}


